.welcome
    background-color $lightdark
    height 100vh
    width 100%
    min-height 650px
    padding-top: 100px
    background-image url("/img/home-bg.jpg")
    background-size cover
    background-repeat no-repeat
    background-position center


    > .wrap
        height: 100%
        position relative
        display: flex
        align-items: center
        justify-content: flex-start
        padding-bottom: 140px;

    .welcome-text
        max-width: 600px

    .button
        margin-right 15px
        margin-bottom: 5px

    .short-info
        position absolute
        bottom 30px
        left 0
        .wrap
            display flex
            justify-content space-between

        .info
            position relative
            margin 0
            margin-right: 85px;
            box-flex: 1;
            flex: 0 1 400px;
            padding-left: 30px

            &:last-child
                margin-right 0

            .num
                position: absolute
                left: 0
                top: 5px

            &:hover
                h2
                    color $lightbrown

    @media (max-width: 1000px)
        min-height 500px

        > .wrap
            padding-bottom: 40px

        .short-info
            display: none

    @media(max-width: 500px)
        max-height 620px

