$white = #ffffff;
$lightbrown = #bf9474;
$dark = #151e24;
$lightdark = #1a252e;
$lightgrey = #f5f5f5;
$greyTextColor = alpha(white, 0.7)

$tt = 0.3s

font1()
    font-family: 'Lora', serif
    font-weight: 400

font2()
    font-family: 'Barlow Condensed', sans-serif
    text-transform uppercase
    font-weight 500